* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    
}
body{
    max-width:100%;
}
img {
    max-width:100%;
}
section {
    position:relative;
    padding:1px;
}
.container-fluid  {
    margin:0;
    position:relative;
}
.p_relative {
    position:relative;
}
.main_logo {
    padding-left:50px;
    text-transform:uppercase;
   padding-top:20px;
}
.main_logo span {
    color:coral;
}

.col-md-8.nav_link ul {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.col-md-8.nav_link ul li{

    list-style:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-inline:15px;
    
}

.topics{
    text-align:center;
}
.col-md-8.nav_link ul li a{
    text-decoration:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:5px 10px;
    color:#ffffff;
    font-size:24px;
    margin-block:6px;

}
.col-md-8.nav_link ul li a:hover{
    color:coral;
    border-bottom:2px solid coral;
}

.col-md-8 .nav_link ul li:hover a{
    color:coral;
    position:relative;
    width:100%;


}
/*==========================================================================*/
header .icons i{
    font-size:2.5rem;
    color:#fff;
    margin:0 .8rem;
    cursor:pointer;
}

header .icons i:hover{
    color:var(--orange);
}

header .search-bar-container {
    position:absolute;
    top:100%;
    left:0;
    right:0;
    padding:1.5rem 2rem;
    background:rgba(39,38,38,0.8);
    border-top:.4rem solid #330;
    display:flex;
    align-items:center;
    transform:translateY(0%);
    z-index:9;
    display:none;
    transition:2s;
    
}
header .active {
    display:block;
    transition-delay:2s;
    
}

header .search-bar-container input {
    padding:1rem;
    width:85%;
    margin-right:1.2rem;
    font-size:2rem
}
header .search-bar-container .fa-search {
    margin-right:2.2rem;
    font-size:2rem;
    color:#fff;
}
/*==================================================================*/
.container-fluid .img_row {
    margin:0;
    width:100%;
    position:relative;
    background:url('image_video/main_photo.jpg');
    min-height:90vh;
    background-size:cover;
    padding:0;

}
.container-fluid .img_row img{
   position:absolute;
   width:100%;
   height:auto;
}
.container-fluid .img_row .text_row {
    width:60%;
    position:absolute;
    left:20%;
    top:20%;
    padding:45px 30px;
    background:rgba(0,0,0,0.7);
    border-radius:8px;
    text-align:center;
    -webkit-user-select:none;
    user-select:none;
}
.container-fluid .img_row .text_row h1{
    color:rgb(254, 254, 254);
    font-size:75px;
    text-transform:uppercase;
}
.container-fluid .img_row .text_row span{
    color:coral;
}
.container-fluid .img_row .text_row p{
    color:rgb(255, 255, 255);
}
.container.container1 {
    padding-left:50px;
    padding-block:30px;
    position:relative;
}
.container.container1 h2 {
    font-size:62px;
    font-weight:600;
}
.container-fluid .row .col-md-4{
    position:relative;
}
.img_responsive {
    position:absolute;
    width:98%;
    height:100%;
    max-height:300px;
    object-fit:cover;
}
.container.container1 p {
    font-size:32px;
    font-weight:250;
}
.col-md-4 .base_image img{
    min-height:600px;
    display:flex;
    align-items:center;
    position:relative;
}
.col-md-4 .base_image:hover img{
    opacity: 0.8;
}
.col-md-4 .base_image img{
    position:absolute;
    width:100%;
    background-size:cover;
}
.demo_class1 {
    display:flex;
    flex-direction:row;
}
.main_row {
    margin-block-start:15px;
    margin-block-end:10px;
}
.main_row_margin {
    margin-block:5px;
}
.container1_row_p {
    font-size:20px;
    color:blue;
    padding-left:60px;
}
.container1 .row1 h1{
    font-size:60px;
    font-family:Verdana;
    padding-left:60px;
    font-weight:700;
}
.container .container1 .row1 {
    position:relative;
}
.page_content6_1 {
    padding-block:30px;
}
.page_content6_1 h2 {
    font-size:52px;
    font-weight:600;
}
.page_content6_1 p{
    color:red;
    font-size:22px;
}
.page_content6_2{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-block:30px;
}
.page_content6_2 button {
    padding:15px 20px;
}
.text_center {
    text-align:center;
}
.demo_class_m1 {
    position:relative;
}
.demo_class1 {
    border-radius:8px;
    min-height:300px;
    box-shadow:3px 4px 8px gray;
    background-image:url(image_video/local_family.jpg);
    background-size:contain;
    background-repeat:no-repeat;
}
.demo_class1:hover {
    box-shadow:6px 10px 14px gray;
}
.demo_class2 {
    border-radius:8px;
    min-height:300px;
    box-shadow:3px 4px 8px gray;
    background-image:url(image_video/foreign.jpg);
    background-size:cover;
    overflow:hidden;
}
.demo_class1_1 {
    position:relative;
    width:100%;
    min-height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    transition: transform 0.5s ;
}
.demo_class1_2 {
    position:relative;
    width:100%;
    min-height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    transition: transform 0.5s ;
}
.demo_class1_2 h2{
    text-align:center;
    margin-top:120px;
    padding-inline:180px;
    font-size:72px;
    font-weight:900;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-color:#fff;
}
.demo_class1_2:hover {
    transform:translateX(500px);
}
.demo_class1_1:hover {
    transform:translateX(-400px);
}
.demo_class1_1 h2{
    text-align:center;
    margin-top:120px;
    padding-inline:150px;
    font-size:72px;
    font-weight:900;
    -webkit-text-stroke:transparent;
    -webkit-text-stroke-color:#fff;
}
.demo_class2:hover {
    box-shadow:none;
}
.demo_class1_2_1{
    position:absolute;
    top:45%;
    padding-inline:180px;
    padding-top:-10px;
}
.demo_class1_2_2{
    position:absolute;
    top:50%;
    padding-top:120px;
}

.page_content2 .row .col-md-4{
    position:relative;
}
.page_content2 .row .col-md-4:hover img{
    opacity: 0.6;
}

.local_form, .foreign_form {
    width:80%;
    min-height:500px;
    box-shadow:none;
    margin:auto;
    border-radius:25px;
}
.hide_headiner {
    position:relative;
    text-align:center;
    transform:scale(1);
    transition:0.2s;

}
.row2{
    position:relative;
}
.row_column {
    position:relative;
    width:80%;
    margin-inline:10%;
    border:none;
    height:290px;
    border-radius:6px;
    overflow:hidden;
    color:red;
}
.row_column:hover {
    box-shadow:1px 1px 3px gray;
}
.row_column .row_image {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    height:100%;
    text-align:center;
    transition:0.4s;
}
.row_column .row_content {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    text-align:center;
    background:transparent;
    min-height:290px;
    transform:translateX(-110%)scale(0);
    transition:transform 0.4s;
    transition-delay:0.2s;
    display:flex;
    justify-content:center;
    align-items:center;
}
.row_column .row_content .row_image1,.row_image2 {
    position:absolute;
    width:100%;
    height:100%;
    min-height:290px;
    
}
.row_image1 h1{
    color:blue;
}

.row_column:hover .row_content{
    transform:translateX(0)scale(1);
}
.row_column:hover .row_image{
    opacity:0.5;
}
.bor_success {
    border-top:4px solid greenyellow;
    border-bottom:4px solid greenyellow;
    padding-block:50px;
}
.topic h1{
    text-align:center;
    font-weight:400;
    font-size:48px;
}


.demo_class6 {
    background-image:url(image_video/beach_side.jpg);
    min-height:120vh;
    position:relative;
}
.demo_class6_1 {
    position:relative;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    min-height:120vh;
}
.demo_class6_1_1{
    width:30%;
    position:relative;
    height:400px;
    background:#ffffffcc;
    border-radius:10px;
    transition:0.4s;
    
    
}
.demo_class6_1_1:hover .hide_headiner {
    transform:scale(0);
}
.demo_class6_1_1_1 {
    position:relative;
    width:80%;
    margin:auto;
    top:30px;
    height:320px;
    border-radius:8px;
    overflow:hidden;
    transition:0.4s;
    transform:scale(1);

}

.demo_class6_1_1_2 {
    position:absolute;
    top:100px;
    width:340px;
    height:auto;
    margin-inline:50px;
    text-align: center;
    padding:35px;
    transition:0.4s;
    transition-delay:0.1s;
    transform:scale(0);
    
}
.demo_class6_1_1:hover {
    height:500px;
}
.demo_class6_1_1:hover .demo_class6_1_1_2 {
    top:120px;
    transform:scale(1);
}
.demo_class6_1_1_1 img{
    position:absolute;
}
.demo_class6_1_1:hover .demo_class6_1_1_1 {
    top:-100px;
    transform:scale(0.75);
}
.footer {
    min-height:50vh;
    background-image:url(image_video/footer_image.jpg);
    background-size:cover;
    padding:0;
    
    color:#fff;
}
.footer_link div a{
    display:grid;
    text-decoration:none;
    padding:5px 40px;
    color:#fff;
}
.footer_link div a:hover{
    color:yellow;
}
.footer_color {
    background-color:black;
    min-height:50vh;
    opacity:0.7;
}
.footer_description p{
    color:yellow;
    padding:20px;
}
.footer_description h3,h4{
    padding:15px;
}
.feedBack {
    border:2px solid #fff;
    padding:50px;
    border-radius:10px;
}
.feedBack div{
    display:flex;
    flex-direction:column;
}
.feedBack .submitForm form{
    display:flex;
    flex-direction:column;
}
.feedBack .submitForm form input{
    width:70%;
    padding:10px;
    margin-block:15px;
}
.feedBack .submitForm form input[type="submit"]{
    width:50%;
}



@media screen and (max-width:560px) {
    .demo_class6_1 {flex-direction:row;}
} 
@media screen and (max-width:1500px) {
    .demo_class6_1{display:none;}
}