* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    
}
section {
    display:grid;
}
.main_logo {
    padding-left:50px;
    text-transform:uppercase;
   padding-top:20px;
}
.main_logo span {
    color:coral;
}
.topic {
    text-align:center;
}
.topic h1{
    font-size:62px;
    font-weight:900;
}
.col-md-8.nav_link ul li{

    list-style:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-inline:15px;
    border-radius:8px;
}
.topics{
    text-align:center;
}
.col-md-8.nav_link ul {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.col-md-8.nav_link ul li a{
    text-decoration:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:5px 12px;
    color:#ffffff;
    font-size:24px;
    margin-block:6px;

}
.col-md-8.nav_link ul li a:hover{
    color:coral;
   
}
.col-md-8 .nav_link ul li:hover a{
    color:coral;
    position:relative;
    width:100%;
}

.demo_class1 {
    display:grid;
    padding-block-end:50px;
    
    
}
.demo_class1 .demo_class1_1 {
    position:relative;
    width:100%;
}
.demo_class1 .demo_class1_1 h2{
    text-align:center;
}
.demo_class1 .demo_class1_2 {
    position:relative;
    min-height:400px;
    overflow:hidden;
    border-block-end:3px solid greenyellow;
}
.demo_class1 .demo_class1_2_1 {
    position:absolute;
    width:100%;
    min-height:400px;
    top:0;
    left:0;
}
.demo_class1_2 .demo_class1_2_2 {
    position:absolute;
    width:100%;
    min-height:400px;
    transform:translateY(-100%);
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#958585c4;
    transition:transform 0.4s;
    transition-delay:0.1s;
}
.demo_class1_2_1_1 {
    position:relative;
}
.show_image {
    position:relative;
    width:80%;
    margin-inline:10%;
    min-height:300px;
    border:none;
    margin-top:50px;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:5px 8px 12px rgb(133, 126, 126);
    overflow:hidden;
}
.show_image div {
    position:absolute;
    width:100%;
}
.show_image div img{
    width:100%;
    object-fit:cover;
}
.demo_class1_2:hover .demo_class1_2_2 {
    transform:translateY(0);
}
.demo_class1 .demo_class1_2 .demo_class1_2_2 div {
    display:grid;
}
.demo_class1 .demo_class1_2_2 .demo_class1_2_2_1 {
    width:80%;
    transform:translateY(-200%);
    transition:0.3s;
    transition-delay:0.4s;
}
.demo_class1_2 .demo_class1_2_2 .demo_class1_2_2_1 h1,h2 {
    font-size:48px;
    font-weight:900;
    
    text-align:center;
}
.demo_class1_2:hover .demo_class1_2_2 .demo_class1_2_2_1 {
    transform:translateX(0%);
    
}

.footer {
    min-height:50vh;
    background-image:url(image_video/footer_image.jpg);
    background-size:cover;
    padding:0;
    max-width:100%;
    color:#fff;
}
.footer_link div a{
    display:grid;
    text-decoration:none;
    padding:5px 20px;
    color:#fff;
}
.footer_link div a:hover{
    color:yellow;
}
.footer_color {
    background-color:black;
    min-height:50vh;
    opacity:0.7;
}
.footer_description p{
    color:yellow;
}
